<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
   <parameter name="browser" value="chrome"></parameter>
  
    <classes>
      <class name="BuffalocartCRM.Project.Scripts.TestBase"/>
      <class name="BuffalocartCRM.Project.Scripts.LoginTest"/>
        <class name="BuffalocartCRM.Project.Scripts.EventTest"/>
        <class name="BuffalocartCRM.Project.Scripts.TaskTest"/>
         <class name="BuffalocartCRM.Project.Scripts.NotesTest"/>
        <class name="BuffalocartCRM.Project.Scripts.ExpenseTest"/>
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
